* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*section-1-wrapper*/

.section-1 {
    background-color: #1f2937;
    min-height: 500px;
    padding: 20px;
}

.section-1-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    gap: 60px 
}

/*header*/

.header {
    justify-content: space-between;
    display: flex;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 25px;
}

a {
    text-decoration: none;
    color: white;
}

/* hero */

.hero {
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    align-items: center;
}

.hero-left-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 420px;
}

.hero-left-content h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    line-height: 55px;
}

.hero-left-content p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: rgb(65, 105, 225);
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 37px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.hero-right-content img {
    width: 510px;
    height: 330px;
    border-radius: 20px;
}

/* section-2 */

h3 {
    font-size: 30px;
    color: #1f2937;
    font-weight: 900;
}

.section-2 {
    min-height: 500px;
    padding: 40px;
}

.section-2-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
}

.photos-row {
    display: flex;
    text-align: center;
    gap: 40px
}

.photo img {
    width: 220px;
    height: 220px;
    border-radius: 20px;
}

.text {
    font-size: 18px;
}

/* section-3 */

.section-3 {
    min-height: 450px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-wrapper {
    max-width: 1000px;
}

.quote {
    font-size: 32px;
}

figcaption {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
}

/* section-4 */

.section-4 {
    min-height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.section-4-wrapper {
    background-color: rgb(65, 105, 225);
    display: flex;
    min-width: 1000px;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    border-radius: 20px;
}

h4 {
    font-size: 20px;
    color: white;
}

.register-left-content p {
    color: white;
}

.button-container-2 button {
    border: 3px solid white;
}

/* Footer */

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    min-height: 100px;
}